@model CinemaBookingClient.ViewModels.CinemaSeatPlanViewModel

@{
    ViewData["Title"] = "Booking";
}
<style>

    #big-container
    {
        height: @(Model.CinemaHallBox.Height + Model.ScreenBox.Height)px;
        width: @(Model.CinemaHallBox.Width )px;
        border: 1px solid #00A;
        margin: 0 auto
    }
    #screen-container
    {
        height: @(Model.ScreenBox.Height)px;
        width: @(Model.ScreenBox.Width)px;
        border: 1px solid #A00;
        margin-left: @(Model.ScreenPos.Left)px;
        margin-top: 0px;
        background: cyan;
    }
    #hall-container
    {
        position: relative;
        height: @(Model.CinemaHallBox.Height)px;
        width: @(Model.CinemaHallBox.Width )px;
        
        margin: 0 auto
    }



</style>
<div style="margin: 30px auto;">
    <div id="big-container" class="big-container">
        <div>
            <div id="screen-container" class="screen-container">
            </div>
        </div>
        <div id="hall-container" class="hall-container">
            @*<div id="area-container"  style="position: absolute;"
                >*@
            @foreach (var area in Model.Areas)
            {
                <div style="
                         position: absolute;
                         left: @(area.AreaPos.Left)px;
                         top: @(area.AreaPos.Top)px;
                         height: @(area.AreaBox.Height)px;
                         width: @(area.AreaBox.Width)px;
                         background: magenta;
                         border: 0px solid #00F;">

                    @foreach (var row in area.Rows)
                    {
                        <div style="
                                     position: absolute;
                                     left: @(row.RowPos.Left)px;
                                     top: @(row.RowPos.Top)px;
                                     height: @(area.RowBox.Height)px;
                                     width: @(area.RowBox.Width)px;
                                     background: magenta;
                                     border: 0px solid #0FF;">
                            @foreach (var seat in row.Seats)
                            {
                            <div style="
                                     position: absolute;
                                     left: @(seat.SeatPos.Left)px;
                                     top: @(seat.SeatPos.Top)px;
                                     height: @(area.SeatBox.Height)px;
                                     width: @(area.SeatBox.Width)px;
                                     background: yellow;
                                     border: 1px solid #F0F;">
                                @*@(seat.Position.ColumnIndex+1)*@
                            </div>
                            }
                        </div>
                    }

                </div>
            }
            @*</div>*@
        </div>
    </div>
</div>
<button class="btn btn-success">Order</button> 
